#habilidades {
    height: auto;
    padding: 1rem;
    margin: 0;
    background-color: #1f1f1f;
}

.habilidades-container {
    border-radius: 1rem;
    margin: 0 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1rem;
}

.habilidades-container h2 {
    font-size: 2rem;
    align-self: center;
    text-align: center;
    color: #f5f5f5;
    margin-bottom: 1rem;
}

.accordion {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    align-self: center;
}

.accordion-header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    cursor: pointer;

}

.accordion-header span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Poppins", sans-serif;
}

.accordion-body {
    color: #444;
    font-size: 14px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;
}

.accordion-body.active {
    height: 100%;
    opacity: 1;
    padding: 5px 0px;
}

.arrow {
    transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}

.skills-wrapper {
    padding: 0 20px;
}

.skills-wrapper .bar {
    margin: 20px 0;
}

.skills-wrapper .bar .info {
    margin-bottom: 10px;
}

.skills-wrapper .bar .info {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #dddddd;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.skills-wrapper .bar .progress-bar span {
    position: absolute;
    height: 100%;
    border-radius: 10px;
}

.barra-html {
    background-color: #ec6433;
    width: 95%;
}

.barra-css {
    background-color: #29b7e5;
    width: 90%;
}

.barra-javascript {
    background-color: #f5ce35;
    width: 65%;
}

.barra-bootstrap {
    background-color: #7611f7;
    width: 50%;
}

.barra-sass {
    background-color: #cd6799;
    width: 75%;
}

.barra-tailwind {
    background-color: #38bdf8;
    width: 75%;
}

.barra-reactjs {
    background-color: #61dafb;
    width: 30%;
}

.barra-java {
    background-color: #0d89c6;
    width: 25%;
}

.barra-python {
    background-color: #ffde56;
    width: 20%;
}

.barra-sql {
    background-color: #db7533;
    width: 80%;
}

.barra-kotlin {
    background-color: #814feb;
    width: 25%;
}